<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pigdogbay.roboquipper"
    android:versionCode="10701"
    android:versionName="1.07.01" 
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-feature android:name="android.hardware.camera" android:required="false"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:name=".RoboQuipApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
		<meta-data 
		    android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>        
 		<meta-data
     		android:name="com.google.android.gms.analytics.globalConfigResource"
     		android:resource="@xml/analytics_global_config" />            
        
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_main" >
            <intent-filter 
                android:label="@string/title_launcher">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name="com.google.android.gms.ads.AdActivity"
		    	  android:windowSoftInputMode="stateAlwaysHidden|adjustResize|adjustPan"
		          android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>        
        
    </application>
    
</manifest>